[Desktop Entry]
Type=Application
Name=Patrick Messenger
Comment=Private family messaging
Exec=/var/www/PatrickMessenger/build/linux/x64/release/bundle/patrick_messenger
TryExec=/var/www/PatrickMessenger/build/linux/x64/release/bundle/patrick_messenger
Icon=com.patricklamphier.patrick_messenger
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupNotify=true
StartupWMClass=com.patricklamphier.patrick_messenger
